body {

    display:grid;
    grid-template-columns: repeat(14,minmax(0,1fr));
    grid-template-rows: repeat(14,minmax(0,1fr)) ;


    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: center center;
    
}

#entireFact {
    grid-column: 2/7;
    grid-row: 6/14;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    

    /*display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    

   padding: 16rem;
    position: relative;
    top: 4%;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.699);
    
    border-radius: 50%;
    width: 5rem;
    height: 5rem;*/
       
}

#funfact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 500;

    padding: 0;

}

#description {
    grid-column: 4/8;
    grid-row: auto;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.5rem;

    font-weight: 300;
    
}

#learnMore{
    font-size: 1rem;
   

    cursor: pointer;
}

#learnMore:hover{
    color: orange;
}



/* #theCircle{
    grid-column: 4/8;
    grid-row: auto;
    padding: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: black;
} */

#circlecorner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80%;
    z-index: -1;
}

form{
    grid-column: 5/13;
    grid-row: auto;

    position: relative;
    top: 7rem;

    display: flex;
    
    
}

.searchBar{
    flex-grow: 3;

    color: rgba(128, 128, 128, 0.685);
    font-size: 1rem;

    grid-column:1/5;
    grid-row: auto;

    border-radius: 3rem;
    padding: 1.25rem;
    border-color: white;
    border: none;
}

input.searchBar{
    color: rgba(128, 128, 128, 0.685);
    flex-grow: 4;
}

.searchBar:focus{
    outline: none;
}

.searchButton{

    background-color: white;
    flex-grow: 2;
    flex-basis: 1;
    font-size: 1rem;

    grid-column:5/6;
    grid-row: auto;
    margin-left: .5rem;

    border-radius: 2rem;
    
    border: none;
}

.searchButton:hover{
    border-color: black;
}


@media only all and (max-width:500px){

    #entireFact{
        grid-column: 3/13;
        grid-row: 
    }

    #funfact{
        font-size: 1.75rem;
    }

    #circlecorner{
       height: 75%;
    }
 
}

@media only all and (max-width:750px){
    form{
        grid-column: 3/13;
        grid-row: auto;
    }
   
    #entireFact{
        grid-column: 3/12;
        grid-row: 
    }

    #funfact{
        font-size: 1.75rem;
    }

    #circlecorner{
        width: 110%;
    }

  
 }
 

